First page Code


.bluebaycreaters {
  height: 27px;
  width: 195px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 13px;
}

