.accessories-shoe-flat-simple {
  height: 25px;
  width: 39.5px;
}

.bluebaycreaters {
  height: 27px;
  width: 195px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 13px;
}

.rectangle {
  height: 419px;
  width: 259px;
  border-radius: 8px;
  background-color: #333BFF;
}

.the-world-fell-silent-to-the-s {
  height: 44px;
  width: 190px;
  color: #000;
  font-family: Arial;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 11px;
}

.bottom-standing-skinny-jeans-w {
  height: 169.5px;
  width: 228px;
}