Rocket Icon

.icons-16-px-black-spaceship {
  height: 32px;
  width: 32px;
}

-------------

POEM

.poems {
  height: 9px;
  width: 45px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

----------------

.stories-within-us {
  height: 9px;
  width: 134px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;

}

-------------------

.events {
  height: 9px;
  width: 52px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}
---------
.broken-lines {
  height: 9px;
  width: 99px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}
.best-of-bluebay {
  height: 9px;
  width: 123px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}
---------------------

Shoes


.accessories-shoe-flat-sneaker {
  height: 33px;
  width: 35.5px;
  transform: scaleX(-1);
}

-----------------------

.success {
  height: 15px;
  width: 62px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.motive {
  height: 9px;
  width: 50px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.about-us {
  height: 9px;
  width: 68px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.rectangle {
  height: 128px;
  width: 360px;
  opacity: 0.14;
  background-color: #333;
}

.presented-by {
  height: 32px;
  width: 94px;
  color: #F2F2F2;
  font-family: "Bradley Hand ITC";
  font-size: 8px;
  letter-spacing: 3.2px;
  line-height: 10px;
}
.ani-edition {
  height: 9px;
  width: 76px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.bluebaycreaters {
  height: 9px;
  width: 130px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}
