Home


.accessories-shoe-flat-sneaker {
  height: 24px;
  width: 30px;
  transform: scaleX(-1);
}

-----------------

.rectangle-1 {
  height: 279px;
  width: 233px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.23);
}
-----------
.rectangle-1 {
  height: 279px;
  width: 233px;
  border-radius: 8px;
  background-color: #FFF;
}

.if-tomorrow-brings-new-hope-i- {
  height: 36px;
  width: 125px;
  color: #000;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.body-long-sleeve {
  height: 187px;
  width: 256px;
}

.bluebaycreaters {
  height: 4px;
  width: 65px;
  color: #000;
  font-family: Arial;
  font-size: 4px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 4px;
}

