SUCCESS


.accessories-shoe-flat-simple {
  height: 28px;
  width: 41.5px;
}

-----

.stories-within-us {
  height: 9px;
  width: 134px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.gaming-oculus-game-simulator-v {
  height: 45px;
  width: 42px;
}
.rectangle-3 {
  height: 66px;
  width: 36px;
  border-radius: 8px;
  background-color: #FA9917;
}

.rectangle-1 {
  height: 246px;
  width: 231px;
  border-radius: 8px;
  background-color: #C8C8C8;
}

.she-your-future-am-i-in-it-he- {
  height: 36px;
  width: 185px;
  color: #FFF;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}

.rectangle-2 {
  height: 246px;
  width: 81px;
  opacity: 0.18;
  border-radius: 8px;
  background-color: #333;
}
.stories-within-us {
  height: 9px;
  width: 134px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 8px;
  font-weight: 700;
  letter-spacing: 3.2px;
  line-height: 9px;
}