.accessories-shoe-flat-sneaker {
  height: 30px;
  width: 38.5px;
}

.bluebaycreaters {
  height: 27px;
  width: 195px;
  color: #F2F2F2;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4.8px;
  line-height: 13px;
}

.rectangle {
  height: 276px;
  width: 272px;
  border-radius: 8px;
  background-color: #FA9917;
}

.when-she-left-me-i-wasnt-alone {
  height: 66px;
  width: 208px;
  color: #000;
  font-family: Arial;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 11px;
}

.body-hoodie {
  height: 187px;
  width: 256px;
}

.rectangle-1 {
  height: 276px;
  width: 34px;
  border-radius: 8px;
  background-color: #FA9917;
}